# See https://help.github.com/ignore-files/ for more about ignoring files.

# testing
/coverage

# production
/build/
/target/
/src/main/resources/frontend/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
