$bodyXMarginSize: 1vw;
$bodyYMarginSize: 1.5vh;
$mobileHeaderHeight: 10vh;
$headerHeight: 5vh;
$chatAvatarSize: 3rem;
$deleteButtonSize: 2rem;
$CHATTeR-color: #20c028;
$defaultBackgroundColor: rgba($CHATTeR-color, 0.03) !important;
$selectedCardBackgroundColor: rgba($CHATTeR-color, 0.15) !important;

body {
  padding: $bodyYMarginSize $bodyXMarginSize $bodyYMarginSize $bodyXMarginSize !important;
  background: $defaultBackgroundColor;
}

.loadingModal {
  height: 10vh !important;
}

.siteGrid {
  height: (100vh - 2*$bodyYMarginSize) !important;
}

.siteHeader {
  height: $mobileHeaderHeight !important;
  padding: 0 !important;

  & > .headerButton {
    padding: 0 !important;
  }
}

.chatterImage {
  vertical-align: middle;
  width: 100% !important;
  height: auto !important;
}

.username {
  font-size: 3em !important;
  font-weight: lighter !important;
}

.siteContent {
  height: 95vh - $mobileHeaderHeight;
  padding: 0 !important;
}

.chatContainer {
  height: 70vh !important;
}

.chatOverview {
  height: 75vh - $mobileHeaderHeight !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  padding: 0 !important;
}

.popup.transition.visible {
  max-width: 60%;
  margin-left: 10vw;

  & .peerInformation {
    width: 100% !important;
    margin: 0 0.5rem 0 0.5rem !important;
    padding: 0 !important;

    & .peerCard {
      min-width: 200px !important;

      & .icon {
        position: absolute !important;
        right: 0 !important;
      }
    }
  }
}

.ui.two.button {
  .ui.inverted.button {
    text-align: center !important;
  }
}

.chatAvatar {
  width: $chatAvatarSize;
  height: $chatAvatarSize;

  .ui.card > .content > & {
    position: absolute !important;
    top: 0.5em;
    right: 1rem;
  }

  &.offline {
    filter: grayscale(100%);
  }
}

.ui.cards {
  margin: 0.5rem auto 1rem 0.5rem !important;
  width: 90% !important;
}

.ui.card {
  background: $defaultBackgroundColor;
  margin: 0.5rem 0.2rem 0.5rem 0.2rem !important;

  &.selectedChat {
    background: $selectedCardBackgroundColor
  }

  & > .content:first-child {
    height: 5rem !important;
    font-size: 1.1rem !important;
    white-space: nowrap;

    & > .header {
      width: 75%;
      overflow: hidden;
    }

    & > .description {
      font-style: italic;
      width: 80%;
      overflow: hidden;
    }
  }
}

.ui.active.transition.visible.inverted.dimmer {
  background: $defaultBackgroundColor;
  opacity: 0.5 !important;
}

#newSender {
  margin-top: 1em;
  border-top: thin solid $CHATTeR-color;
}

#sameSender {
  margin-top: -0.5em;
}

.event.myMessage > .content {
  text-align: right !important;

  & .summary {
    margin-right: 0 !important;
  }

  & .extra.text {
    margin-right: 0 !important;
    max-width: 100% !important;
  }
}

.event.myMessage {
  display: inline-block;
  position: relative;
  width: 90% !important;

  & > .label {
    position: absolute !important;
    top: 0.5rem;
    right: 1rem;
  }
}

.ui.feed {
  width: 100% !important;
  padding: 0 3rem 0 2rem !important;

  & .event > .content {
    margin: 0.5rem 4rem 0.5rem 2rem !important;
  }
}

.messageInformation {
  height: 10vh !important;
  padding-top: 0 !important;
}

.background {
  filter: blur(1px) opacity(20%) !important
}

.messageHistory {
  height: 72vh !important;

  & > .column {
    padding: 0 2rem 0 1rem !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
  }
}

.messageInput {
  height: 10vh !important;
}

.chainInformation {
  width: 100% !important;
  position: sticky !important;
  top: 0 !important;
}

.addChat {
  position: absolute !important;
  bottom: 0;
  right: 0.5em;
  margin-top: 3rem !important;
}

.circular.button, .circular.icon {
  margin: auto 1rem auto -2rem !important;
  height: $deleteButtonSize !important;
  width: $deleteButtonSize !important;

  .event.myMessage > & {
    position: absolute !important;
    margin: auto -2rem auto 1rem !important;
    right: 0;
    top: 30%;
  }
}

.ui.circular.button {
  padding: 0 !important;

  &.disabled {
    opacity: 1 !important;
  }
}

.ui.popup.transition.visible {
  font-style: italic;
}

.disabled {
  opacity: 1 !important;

  &.field {
    opacity: 0.5 !important;
  }
}

.ui.overlay.left.thin.visible.sidebar {
  background: rgba($CHATTeR-color, 0.1);
}

@media only screen and (min-width: 720px) {
  .siteHeader {
    height: $headerHeight !important;
  }

  .chatterImageContainer {
    height: 100% !important;

    & > .chatterImage {
      width: auto !important;
      height: 100% !important;
    }
  }

  .siteContent {
    height: 95vh - $headerHeight;
  }

  .chatOverview {
    height: 75vh - $headerHeight !important;
  }

  .popup.transition.visible {
    margin-left: 30vw;
  }

  .ui.cards {
    margin: 0 auto 0 0.5rem !important;
    width: 90% !important;
  }
}