body {
  padding: 1.5vh 1vw 1.5vh 1vw !important;
  background: rgba(32, 192, 40, 0.03) !important; }

.loadingModal {
  height: 10vh !important; }

.siteGrid {
  height: 97vh !important; }

.siteHeader {
  height: 5vh !important;
  padding: 0 !important;
  margin-bottom: 1em; }
  .siteHeader > .headerButton {
    padding: 0 !important; }

.siteContent {
  height: 90vh;
  padding: 0 !important; }

.chatContainer {
  height: 70vh !important; }

.chatOverview {
  height: 70vh !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  padding: 0 !important; }

.popup.transition.visible {
  max-width: 60%;
  margin-left: 10vw; }
  .popup.transition.visible .peerInformation {
    width: 100% !important;
    margin: 0 0.5rem 0 0.5rem !important;
    padding: 0 !important; }
    .popup.transition.visible .peerInformation .peerCard {
      min-width: 200px !important; }

.ui.two.button .ui.inverted.button {
  text-align: center !important; }

.chatAvatar {
  width: 3rem;
  height: 3rem; }
  .ui.card > .content > .chatAvatar {
    position: absolute !important;
    top: 0.5em;
    right: 1rem; }
  .chatAvatar.offline {
    filter: grayscale(100%); }

.ui.cards {
  margin: 0.5rem auto 1rem 0.5rem !important;
  width: 90% !important; }

.ui.card {
  background: rgba(32, 192, 40, 0.03) !important;
  margin: 0.5rem 0.2rem 0.5rem 0.2rem !important; }
  .ui.card > .content:first-child {
    height: 5rem !important;
    font-size: 1.1rem !important;
    white-space: nowrap; }
    .ui.card > .content:first-child > .header {
      width: 75%;
      overflow: hidden; }
    .ui.card > .content:first-child > .description {
      font-style: italic;
      width: 80%;
      overflow: hidden; }

.ui.active.transition.visible.inverted.dimmer {
  background: rgba(32, 192, 40, 0.03) !important;
  opacity: 0.5 !important; }

.event.myMessage > .content {
  text-align: right !important; }
  .event.myMessage > .content .summary {
    margin-right: 0 !important; }
  .event.myMessage > .content .extra.text {
    margin-right: 0 !important;
    max-width: 100% !important; }

.event.myMessage {
  display: inline-block;
  position: relative;
  width: 90% !important; }
  .event.myMessage > .label {
    position: absolute !important;
    top: 0.5rem;
    right: 1rem; }

.ui.feed {
  width: 100% !important;
  padding: 0 3rem 0 2rem !important; }
  .ui.feed .event > .content {
    margin: 0.5rem 4rem 0.5rem 2rem !important; }

.messageInformation {
  height: 10vh !important;
  padding-top: 0 !important; }

.messageHistory {
  height: 72vh !important; }
  .messageHistory > .column {
    padding: 0 2rem 0 1rem !important;
    overflow-x: hidden !important;
    overflow-y: auto !important; }

.messageInput {
  height: 10vh !important; }

.addChat {
  position: absolute !important;
  bottom: 0;
  right: 0.5em;
  margin-top: 3rem !important; }

.ui.mini.circular.icon.inverted.button {
  margin: auto 1rem auto -2rem !important;
  padding: 0 !important;
  height: 2rem !important;
  width: 2rem !important; }
  .event.myMessage > .ui.mini.circular.icon.inverted.button {
    position: absolute !important;
    margin: auto -2rem auto 1rem !important;
    right: 0;
    top: 30%; }

.ui.popup.transition.visible {
  font-style: italic; }

.disabled {
  opacity: 1 !important; }
  .disabled.field {
    opacity: 0.5 !important; }

.ui.overlay.left.thin.visible.sidebar {
  background: rgba(32, 192, 40, 0.1); }

@media only screen and (min-width: 720px) {
  .popup.transition.visible {
    margin-left: 30vw; }

  .ui.cards {
    margin: 0 auto 0 0.5rem !important;
    width: 90% !important; } }

/*# sourceMappingURL=style.css.map */
